<aside id="nav"
       class="flex-item">
	<h2>
General
	</h2>
	<ul>
		<li>
			<%= link_to "Home", "/" %>
		</li>
		<li>
			<%= link_to "Index", canonicalize("/blog.html") %>
		</li>
	</ul>
	<h2>
Series
	</h2>
	<nav id="blog-series"
	     class="accordion">
		<% blog_categories(blog, "misc", :reject).each do |series, posts| %>
			<h4 id="<%= series.gsub(" ", "-").downcase %>"
			    class="category">
				<%= series %>
			</h4>
			<ol>
				<% posts.sort do |a, b| %>
				<%   if a.data.has_key?("number") && b.data.has_key?("number") %>
				<%     a.data["number"] <=> b.data["number"] %>
				<%   else %>
				<%     a.date <=> b.date %>
				<%   end %>
				<% end %>
				<% .each do |post| %>
					<li class="title">
						<%= link_to post.title, canonicalize(post.url) %>
					</li>
				<% end %>
			</ol>
		<% end %>
	</nav>
	<h2>
Categories
	</h2>
	<p>
		<small>
(Click a header to expand it)
		</small>
	</p>
	<nav id="blog-tag"
	     class="accordion">
		<% blog.tags.sort.each do |tag, posts| %>
			<h4 id="<%= tag.downcase.gsub(" ", "-") %>"
			    class="category">
				<%= tag.gsub(/\w+/) { |word| word.capitalize } %>
			</h4>
			<ul>
				<% posts.sort do |a, b| %>
				<%   if a.data.has_key?("number") && b.data.has_key?("number") %>
				<%     a.data["number"] <=> b.data["number"] %>
				<%   else %>
				<%     a.title <=> b.title %>
				<%   end %>
				<% end %>
				<% .each do |post| %>
					<li class="title">
						<%= link_to post.title, canonicalize(post.url) %>
					</li>
				<% end %>
			</ul>
		<% end %>
	</nav>
</aside>
