<aside id="about"
       class="flex-item">
	<div class="logo gravatar">
		<% link_to "/" do %>
			<img id="gravatar"
			     src="<%= gravatar_for  'appayne@outlook.com', size: 192 %>"
			     alt="My Gravatar"
			     title="Headshot taken in July 2014, Sheboygan, WI" />
		<% end %>
	</div>
	<h1>
Alexander Payne
	</h1>
	<h2>
Introduction
	</h2>
	<p>
I am a for-hire Computer Engineer with experience in embedded systems C/C++, web
development, and systems administration. I am also an Eagle Scout and lifeguard,
with experience as a manager and instructor.
	</p>
	<p>
I know several programming languages and can learn them quickly, and am equally
familiar with Windows and Linux environments. See my résumé for more.
	</p>
	<h2>
Contact Info
	</h2>
	<p>
Feel free to reach me at <%= mask_email "appayne@outlook.com" %>. My cell number
is on some spam lists, so I rarely answer cold calls; I prefer email for first
contact.
	</p>
	<p>
My public key is hosted locally <%= link_to "here", "/myrrlyn.asc" %> and at
<%= link_to "my Keybase profile", "//keybase.io/myrrlyn" %>.
	</p>
	<p>
		<small>
This site is a work in progress. I would greatly appreciate reports of bugs, and
equally appreciate patience as I build it.
		</small>
	</p>

	<div class="logo glider">
		<a alt="Hacker emblem as proposed by Eric S. Raymond"
		   href="//catb.org/hacker-emblem"
		   title="Hacker emblem as proposed by Eric S. Raymond">
			 <%= partial "layouts/glider", locals: { scale: 16 } %>
		</a>
	</div>
</aside>
