<aside id="nav"
       class="flex-item">
	<nav>
		<h1>
Pages
		</h1>
		<h2>
Local
		</h2>
		<ul id="links-local">
			<% sitemap.resources.select do |p| %>
				<% p.data["category"] == "local" %>
			<% end %>
			<% .sort do |a, b| %>
				<% a.data["title"] <=> b.data["title"] %>
			<% end %>
			<% .each do |p| %>
				<li>
<%= link_to p.data["title"], canonicalize(p.url) %>
				</li>
			<% end %>
		</ul>
		<h3>
Miscellaneous
		</h3>
		<ul id="links-projects">
			<li>
<%= link_to "Hermaeus", canonicalize("hermaeus") %>
			</li>
			<li>
<%= link_to "My Blog", canonicalize("blog") %>
			</li>
			<li>
<%= link_to "My <em>TES</em> Writings", canonicalize("oeuvre") %>
			</li>
		</ul>
		<h2>
Social
		</h2>
		<p class="text-center">
<%# link_to "<i class=\"fa fa-2x fa-envelope\"></i>", "mailto:appayne@outlook.com" %>
<%= link_to "<i class=\"fa fa-2x fa-github\"></i>", "//github.com/myrrlyn" %>
<%= link_to "<i class=\"fa fa-2x fa-reddit-alien\"></i>", "//reddit.com/u/myrrlyn" %>
<%= link_to "<i class=\"fa fa-2x fa-twitter\"></i>", "//twitter.com/myrrlyn" %>
<%= link_to "<i class=\"fa fa-2x fa-instagram\"></i>", "//instagr.am/myrrlyn" %>
<%= link_to "<i class=\"fa fa-2x fa-linkedin\"></i>", "//linkedin.com/in/myrrlyn" %>
		</p>
	</nav>
</aside>
