<aside id="nav"
       class="flex-item">
	<nav>
		<h1>
Pages
		</h1>
		<h2>
Local
		</h2>
		<ul id="links-local">
			<% sitemap.resources.select do |p| %>
				<% p.data["category"] == "local" %>
			<% end %>
			<% .sort do |a, b| %>
				<% a.data["title"] <=> b.data["title"] %>
			<% end %>
			<% .each do |p| %>
				<li>
<%= link_to p.data["title"], canonicalize(p.url) %>
				</li>
			<% end %>
		</ul>
		<h3>
Projects
		</h3>
		<ul id="links-projects">
			<li>
<%= link_to "Lilliput", canonicalize("lilliput") %>
			</li>
			<li>
<%= link_to "Hermaeus", canonicalize("hermaeus") %>
			</li>
			<li>
<%= link_to "My Blog", canonicalize("blog") %>
			</li>
			<li>
<%= link_to "My <em>TES</em> Writings", canonicalize("oeuvre") %>
			</li>
			<li>
<%= link_to "Also I run a Minecraft server sometimes", canonicalize("minecraft") %>
			</li>
		</ul>
		<h2>
Social
		</h2>
		<p class="text-center">
<%= fa "key", "/myrrlyn.asc" %>
<%= fa "envelope", "mailto:appayne@outlook.com" %>
<%= fa "github", "//github.com/myrrlyn" %>
<%= fa "reddit-alien", "//reddit.com/u/myrrlyn" %>
<%= fa "twitter", "//twitter.com/myrrlyn" %>
<%= fa "instagram", "//instagr.am/myrrlyn" %>
<%= fa "linkedin", "//linkedin.com/in/myrrlyn" %>
		</p>
	</nav>
</aside>
