<!DOCTYPE html>
<html>
	<head>
		<title>
			<%= current_page.data.title %>
		</title>
		<meta charset="UTF-8" />
		<meta name="viewport"
		     content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible"
		      content="IE=edge" />

		<link rel="shortcut icon"
		      type="image/png"
		      href="/favicon.png" />
		<%= stylesheet_link_tag :klaus %>
		<script type="text/javascript"
		        src="https://code.jquery.com/jquery-3.1.1.min.js">
		</script>
		<script type="text/javascript"
		        async
		        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_SVG">
		</script>
		<script type="text/javascript"
		        src="https://momentjs.com/downloads/moment.min.js">
		</script>
		<%= javascript_include_tag :main %>
		<%= javascript_include_tag :klaus %>
	</head>
	<body class="<%= page_classes %> flex-wrapper flex-rows">
		<div id="flex-focus"
		     class="flex-wrapper flex-cols">
			<main class="flex-item">
				<article>
					<%= yield %>
				</article>
			</main>
		</div>
	</body>
</html>
