<!DOCTYPE html>
<!--  |
    ——0—— REGISTERED BY C0DA.
      |   -->
<html>
	<head>
		<title>
			<% if !current_page.data.title || current_page.data.title == "Home" %>
~myrrlyn
			<% else %>
myrrlyn/<%= current_page.data.title.downcase %>
			<% end %>
		</title>
		<%= partial "layouts/head" %>

		<%= stylesheet_link_tag :all %>
		<%= stylesheet_link_tag :main %>
		<%= javascript_include_tag :all %>
		<%= javascript_include_tag :main %>
	</head>
	<body class="<%= page_classes %> flex-wrapper flex-rows">
		<%= partial "layouts/header" %>
		<div id="flex-focus"
		     class="flex-wrapper flex-cols">
			<main class="flex-item">
				<%= yield %>
				<hr />
				<button id="cookie-display"
				        type="button">
Show my cookies
				</button>
				<button id="cookie-wipe"
				        type="button">
Erase my cookies
				</button>
				<pre id="cookie-anchor">
				</pre>
			</main>
			<%= partial "layouts/about" %>
			<%= partial "layouts/nav" %>
		</div>
		<%= partial "layouts/footer" %>
	</body>
</html>
